{% extends "layout.twig" %}

{% block content %}
<h1><a href="{{ app.url_generator.generate('home') }}"><img src="{{app.request.basepath}}/img/header.jpg"></a></h1>
<form action="" method="post">
    <label for="title">Titre :</label>
    <input type="text" name="title" id="title" />
    <label for="article">Article :</label>
    <textarea name="article" id="article"></textarea>

    <label for="tag">Tags :</label>
    <select multiple name="tag[]" id="tag">
        {% for tag in tags %}
            <option value="{{tag.id}}">{{tag.name}}</option>
        {% endfor %}
    </select>

    <input type="submit" />
</form>
{% endblock %}
