{% extends "layout.twig" %}

{% block content %}
<h1><a href="{{ app.url_generator.generate('home') }}"><img src="{{app.request.basepath}}/img/header.jpg"></a></h1>
<form action="" method="post">
    <label for="tag">Nom du Tag :</label>
    <input type="text" name="tag" id="tag" />

    <input type="submit" />
</form>
{% endblock %}
