{% extends 'layout.twig' %}
{% block title %}Article{% endblock %}

{% block content %}
    <h1><a href="{{app.request.basepath}}/index.php"><img src="{{app.request.basepath}}/img/header.jpg"></a></h1>
    <section>
            <article>
                <h2>{{ article.title }}</h2>
                <p>
                    {{ article.body }}
                </p>
                <section>
                    {% if comments is defined and comments is not empty %}
                        <ul>
                            
                        </ul>
                    {% endif %}
                    {% if user is not empty %}
                        <h3>Commentaires :</h3>
                        <form action="" method="post">
                            <textarea></textarea>
                            <input type="submit" value="Commenter">
                        </form>
                    {% endif %}
                </section>
            </article>
    </section>
{% endblock %}
